<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="openAIKey" value="xxx"/>
		<add key="apiURL" value="http://localhost:1234/v1/chat/completions"/>

		<add key="prompt" value="Can you give me a detailed description in English of ..., the name of the character in the image, his face, expression, clothing, any objects present and the angle of the frame and what is happening in the scene? Considere that it is a scene from ..."/>
	</appSettings>
</configuration>